---

layout: page
language: "en"
title: ".vinv Virtual Inventory"
type: "website"
image: ""
description: "vinv standardizes forest inventory data enabling further automated processing for visualization, analysis and forest management."
url: "/"

---

{% include section-hero.html
    subtitle="Concept"
    title="Global & Fair Forestry Data"
    text="
    <p><b><span class=\"heighlight\">vinv</span></b> standardizes forest inventory data enabling 
        automated processing for <span class=\"heighlight\"><b>visualization</b></span>, <span class=\"heighlight\"><b>analysis</b></span> and <span class=\"heighlight\"><b>forest management</b></span>.</p>
        <p></p>"
    class="headline-module-left"
    img="/assets/img/oc100_logo.jpg"
%}
{% include section-hero_right.html
    subtitle="Big Data"
    title="Precision Forestry"
    text="<p>The <span class=\"heighlight\">vinv</span> exchange format is made for individual tree data by default.</p>
    <p>The format supports the results of upcoming inventory methods such as <b>terrestrial or airborne laser scanning</b>.</p>
    <p><b>Machine learning models</b> can also be incorporated to make forest stand prediction.</p>"
    class="headline-module-right"
    img="/assets/img/oc100_logo.jpg"
%}
{% include section-hero.html
    subtitle="Open Source"
    title="Driven by Community"
    text="
    <p>
        <span class=\"heighlight\"><b>vinv</b></span> software is <b>Open Source</b> and publicly available on <a href=\"https://github.com/vinv-group\" target=\"_blank\" rel=\"noreferrer\"><b>GitHub</b></a> under the <a href=\"https://github.com/vinv-group/vinv-schema/blob/main/LICENSE\" target=\"_blank\" rel=\"noreferrer\">MIT License</a>.<br/>The software is and will <b>forever</b> be available <b>for free</b>.
    </<p>
    <p>Open development from the beginning with the involvement of all interested parties.</p>"
    class="headline-module-left"
    img="/assets/img/oc100_logo.jpg"
%}
{% include contributors.html %}