<section class="container vinv-content">
  <div class="container-sm">
    <p class="h4">
      <span class="subtitle point-before">join vinv-group</span>
    </p>
    <h2 class="m-0">Become a Contributor</h2>
    <p>If you want to join the <span class="heighlight">vinv group</span>, discussions, decisions, get technical support and strengthen the specification with your knowledge and experiences.</p>
    <p>    <a class="btn btn-outline-dark" href="/group">Join the vinv group</a></p>
  </div>
</section>
