<section id="sponsor">
  <div class="container vinv-content">
    <!--<p class="h4"><span class="subtitle point-before">Thanks to</span></p>-->
    <h1>Sponsors</h1>
    <p>
      vinv is an MIT licensed open source project and <b>completely free to use</b>. 
      However, the technical infrastructure, the effort to create and maintain functions and documentation is done by a small team in their free time.
    </p>
    <p>Through sponsorship you allow <span class="heighlight">vinv</span> to thrive continually.</p>
    <div  class="text-center mt-4">
          <a class="btn btn-outline-dark heighlight" href="mailto:support@vinv.io?subject=Becoming%20a%20Sponsor">
            <i class="bi-envelope-fill" role="img" aria-label="Mail"></i>
            Becoming a Sponsor
          </a><br/>
          <small>With your sponsorship, your company logo will be displayed on this website<br/> and corresponding repositories.</small>
        </p>
      </div>
  </div>
</section>

<section id="contribution" class="hero">
  <div class="container-sm">
    <p class="h4"><span class="subtitle point-before">join vinv-group</span></p>
    <h1>Become a Contributor</h1>
    <p>If you want to join the <span class="heighlight">vinv-group</span>, discussions, decisions, get technical support and strengthen the software with your knowledge and experiences.</p>
    <p>Join our <a class="btn btn-outline-dark" href="https://vinv-space.slack.com/" rel="noreferrer" target="_blank"><i class="bi-slack" role="img" aria-label="Slack"></i>  Slack Workspace</a></p>
  </div>
</section>

<section id="contributors">
  <div class="container vinv-content">
    <!--<p class="h4"><span class="subtitle point-before">Thanks to</span></p>-->
    <h1>Contributors</h1>
    <p>...who are giving themselves and their free time to contribute to <span class="heighlight">vinv</span>.</p>
    <div id="contributors-list"></div>
  </div>
</section>
<script type="text/javascript">
  var listWrapper = document.getElementById('contributors-list');
  var drawContributorsList = function(data){
    for(var i = 0; i< data.length; i++){
      var element = document.createElement('A');
      element.classList.add('m-1');
      element.setAttribute('href', data[i].html_url);
      element.setAttribute('rel', "noreferrer");
      element.setAttribute('target', "_blank");

      var avatar = document.createElement('IMG');
      avatar.classList.add('rounded-circle', 'vinv-contributors-avatar');
      avatar.setAttribute('src', data[i].avatar_url);
      avatar.setAttribute('data-bs-toggle', 'tooltip');
      avatar.setAttribute('title', data[i].login);
      avatar.setAttribute('data-bs-placement', 'right');
      
      element.appendChild(avatar);
      listWrapper.appendChild(element);
    }
  }
  fetch('https://api.github.com/orgs/vinv-group/members')
    .then(response => response.json())
    .then(data => drawContributorsList(data));
</script>