<nav class="shadow-sm navbar navbar-light bg-light  navbar-expand fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <div class="d-flex flex-row bd-highlight">
            <div class="bd-highlight"><img src="/assets/img/logo_transparent.png" alt=" vinv logo" height="50" class="d-inline-block align-text-top"></div>
            <div class="d-flex flex-column ms-2 mt-2 vinv-brand-txt">
              <sup class="ms-2">. vinv.io</sup>
              <div class="vinv-brand-name">Virtual Inventory</div>
            </div>
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between d-flex flex-row-reverse" id="navbarScroll">
          <ul class="nav navbar-nav main-navigation my-0 ">
            <li class="nav-item">
              <a class="btn nav-link text-dark text-sm-center p-2 scroll" href="/group">
                Group
              </a>
            </li>
            <!--<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Use Cases
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/use-cases/restoration">Restoration</a></li>
              </ul>
            </li>-->
            <li class="nav-item">
              <a class="btn nav-link text-dark text-sm-center p-2 scroll" href="/documentations/getting-started">
                Getting started
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark text-sm-center p-2 scroll" href="https://github.com/vinv-group" target="_blank" rel=”noreferrer”>
                <i class="bi-github" role="img" aria-label="GitHub"></i> GitHub
              </a>
            </li>
          </ul>
        </div>
    </div>
</nav>