<section id="sponsor">
    <div class="container vinv-content">
      <p class="h4"><span class="subtitle point-before">Contribute as</span></p>
      <h2>Sponsor</h2>
      <p>
        <span class="heighlight">vinv</span> is created by individuals in their spare time. To support this work, consider supporting them with a <b><a href="#contributors-individuals-list">donation</a></b> first.
      </p>
      <p>
        For testing and further development of the <span class="heighlight">vinv</span> specification and software we would appreciate <b>your support with technical infrastructure</b>.
      </p>
      
      <div  class="text-center mt-4">
            <a class="btn btn-outline-dark" href="mailto:support@vinv.io?subject=Contribute%20as%20Sponsor">
              <i class="bi-envelope-fill" role="img" aria-label="Mail"></i>
              get in contact
            </a><br/>
            <small>With your technical sponsorship, your company logo will be displayed on this website<br/> and corresponding repositories.</small>
        </div>
    </div>
</section>